In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("birds.csv")

In [18]:
df.head()

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI

In [19]:
import json

label_to_scientific = {}

for _, row in df.iterrows():
    label = row["labels"]
    scientific_name = row["scientific name"]

    if label not in label_to_scientific:
        label_to_scientific[label] = scientific_name

In [20]:
pd.Series(label_to_scientific)

ABBOTTS BABBLER                 MALACOCINCLA ABBOTTI
ABBOTTS BOOBY                       PAPASULA ABBOTTI
ABYSSINIAN GROUND HORNBILL      BUCORVUS ABYSSINICUS
AFRICAN CROWNED CRANE            BALEARICA REGULORUM
AFRICAN EMERALD CUCKOO          CHRYSOCOCCYX CUPREUS
                                       ...
DUNLIN                               CALIDRIS ALPINA
SNOWY SHEATHBILL                       CHIONIS ALBUS
KNOB BILLED DUCK              SARKIDIORNIS MELANOTOS
GREY HEADED CHACHALACA           ORTALIS CINEREICEPS
BLACK BREASTED PUFFBIRD        NOTHARCHUS PECTORALIS
Length: 525, dtype: object

In [21]:
with open("label_to_scientific.json", "w") as json_file:
    json.dump(label_to_scientific, json_file)